/*--------------------------------------------*/
/* CSS Color Variables                        */
/*--------------------------------------------*/
:host {
    --root-text-color: rgba(64,64,64,.7);
    --primary: #1583C6;
    --primary-light: #a6c1e5;
    --secondary: #7F4098;
    --gray: #657783;
    --form-field-color: var(--gray);
    --form-field-bgcolor: #f9f9f9;
    --form-field-border: #b4c5cf;
    --form-field-border--active: var(--primary);
    --form-valid: #42bc34;
    --form-invalid: #dc3545;
    --form-field-disabled: #ebebe4;
    --form-field-boxshadow--active: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    --form-field-boxshadow--valid: 0 0 0 0.2rem rgba(40, 167, 69, .25);
    --form-field-boxshadow--invalid: 0 0 0 0.2rem rgba(220, 53, 69, .25);
    --form-btn-primary-text: #fff;
    --form-btn-primary-bgcolor: var(--primary);
    --form-btn-primary-hover: var(--primary-light);
    --form-btn-primary-active: #1583C6;
    --form-btn-secondary-text: #384249;
    --form-btn-secondary-bgcolor: #fff;
    --form-btn-secondary-hover: #f6f7f9;
    --form-btn-secondary-active: #ededed;
    --form-btn-disabled: var(--gray);
    --card-bgcolor: #fff;
    --card-title-color: #696969;
    --card-header-bgcolor: #6c757d;
    --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --progress-pledged: #1b88b0;
    --progress-received: #000;
}

/*--------------------------------------------*/
/* CSS Font Variables                        */
/*--------------------------------------------*/
:host {
    --root-font-size: 14px;
    --root-line-height: 2em;
    --root-font-face: 'Open Sans', Arial, Sans-serif;
    --root-font-letter-spacing: .05em;
    --h1-font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    --h1-color: var(--primary);
    --h1-font-weight: 400;
    --h1-font-style: normal;
    --h1-font-size: 32px;
    --h1-line-height: 1.3em;
    --h1-letter-spacing: .05em;
    --h2-font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    --h2-color: rgba(0, 0, 0, .75);
    --h2-font-style: normal;
    --h2-font-weight: 400;
    --h2-font-size: 24px;
    --h2-line-height: 1.15em;
    --h2-letter-spacing: .02em;
    --h3-color: rgba(0, 0, 0, .7);
    --h3-font-family: 'Open Sans', sans-serif;
    --h3-font-weight: 700;
    --h3-font-style: normal;
    --h3-font-size: 18px;
    --h3-line-height: 1.3em;
    --h3-letter-spacing: normal;
}

/*--------------------------------------------*/
/* Card                                       */
/*--------------------------------------------*/
:host {
    --card-textColor: var(--root-text-color);
    --card-borderRadius: 4px;
    --card-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --card-primaryColor: var(--primary);
    --card-badgeBgColor: var(--root-text-color);
    --card-headerBgColor: #666;
    --card-badgeStatusActiveColor: var(--primary);
    --card-badgeStatusPendingColor: #f0d030;
    --card-badgeStatusDiscontinuedColor: #ededed;
    --card-badgeStatusCompleteColor: #77be43;
    --card-fontSize: var(--root-font-size);
    --card-fontSizeHeader: 18px;
    --card-lineHeight: 24px;
    --card-progressBarColor: #1b88b0;
    --card-progressBarActiveColor: linear-gradient(90deg, #1b88b0 0%, #1fb5ac 100%);
    --card-progressBarRemainingColor: #efefef;
    --card-progressBarCompleteColor: #77be43;
    --card-imageBgColor: var(--gray);
    --card-checkboxDefaultColor: var(--gray);
    --card-labelBgColor: #efefef;
}
.mpp-card--title {
}

/*--------------------------------------------*/
/* Form                                       */
/*--------------------------------------------*/
:host {
    --form-field-fontFamily: var(--root-font-face);
    --form-field-letter-spacing: var(--root-font-letter-spacing);
    --form-field-margin: 8px;
    --form-field-borderradius: 4px;
    --form-field-padding: 20px 13px;
}


/*--------------------------------------------*/
/* Inner Page Details                         */
/*--------------------------------------------*/
:host {
    --innerPage-bgColor: var(--gray);
    --innerPage-textColor: rgba(64,64,64,.7);
    --innerPage-fontSize: var(--root-font-size);
    --innerPage-fontFamily: var(--root-font-face);
    --innerpage-letter-spacing: var(--root-font-letter-spacing);
    --innerPage-lineHeight: var(--root-line-height);
    --innerPage-primaryColor: var(--primary);
    --innerPage-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --innerPage-borderRadius: 4px;
    --innerPage-dateTimeFontSize: 28px;
    --innerPage-buttonBgColor: var(--innerPage-primaryColor);
    --innerPage-buttonHoverBgColor: var(--form-btn-primary-hover);
    --innerPage-buttonActiveBgColor:var(--form-btn-primary-bgcolor);
    --innerPage-progressBarColor: var(--card-progressBarColor);
    --innerPage-progressBarActiveColor: var(--card-progressBarActiveColor);
    --innerPage-progressBarRemainingColor: var(--card-progressBarRemainingColor);
    --innerPage-progressBarCompleteColor: var(--card-progressBarCompleteColor);
    --innerPage-labelBgColor: #efefef;
    --innerPage-linkColor: var(--primary);
    --innerPage-linkHoverColor: var(--primary-light);
    --innerPage-linkActiveColor: var(--primary);
    --innerPage-imageBgColor: var(--gray);
    --innerPage-mapBgColor: #efefef;
}
    /* headers */
.mpp-innerpage h1 {
    font-family: var(--h1-font-family);
    color: var(--h1-color);
    font-weight: var(--h1-font-weight);
    font-style: var(--h1-font-style);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
    text-align: center;
}

.mpp-innerpage h2 {
    font-family: var(--h2-font-family);
    color: var(--h2-color);
    font-style: var(--h2-font-style);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
    text-align: center;
}

.mpp-innerpage h3 {
    color: var(--h3-color);
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-style: var(--h3-font-style);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
}

.mpp-innerpage h4 {
    font-family: var(--root-font-face);
    font-weight: 700;
    color: var(--root-text-color);
}

.mpp-innerpage--special-title {
    color: var(--h3-color);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    padding-bottom: 10px;
}
.mpp-innerpage--special-content {
    padding-left: 30px;
    font-size: var(--root-font-size);
    color: var(--root-text-color);
    line-height: var(--root-line-height);
}
.mpp-innerpage p {
    font-size: var(--innerPage-fontSize);
    line-height: var(--innerPage-lineHeight);
}
.mpp-innerpage--fixed-imgcontainer {
    margin-bottom: 25px;
}
.mpp-innerpage--fixed-img {
    background-position: center;
}
.mpp-innerpage--datetime {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-bottom: 24px;
}

/*--------------------------------------------*/
/* Login                                      */
/*--------------------------------------------*/
:host {
    --component-bgColor: var(--gray);
}

/*--------------------------------------------*/
/* Household                                  */
/*--------------------------------------------*/
.mpp-household {
    color: var(--primary);
}
.mpp-household h1 {
    font-family: var(--h1-font-family);
    color: var(--h1-color);
    font-weight: var(--h1-font-weight);
    font-style: var(--h1-font-style);
    font-size: var(--h2-font-size);
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
}
.mpp-household h2 {
    font-family: var(--h2-font-family);
    color: var(--h2-color);
    font-style: var(--h2-font-style);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
}
.mpp-household h3 {
    color: var(--h3-color);
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-style: var(--h3-font-style);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
}

/*--------------------------------------------*/
/* COMPONENT CONTAINER                        */
/*--------------------------------------------*/
.mppw-component-container {
    font-family: var(--root-font-face);
    color: var(--root-text-color);
    line-height: initial;
}

/*--------------------------------------------*/
/* Wildcard Font CSS                          */
/*--------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: var(--root-font-face);
}

/*--------------------------------------------*/
/* Custom Card Builder classes                */
/*--------------------------------------------*/

/* Groups cards */
.mpp-card--subtitle.group-location {
}
.mpp-card--subtitle.group-meeting-day {	
}
.mpp-card--subtitle.group-start-date {
}

/* Invoice cards */
.mpp-card--subtitle.invoice-status {
}
.mpp-card--subtitle.invoice-total {	
}
.mpp-card--subtitle.invoice-date {
}

/* Opportunity cards */
.mpp-card--subtitle.opportunity-location {
}
.mpp-card--subtitle.opportunity-start-date {
}

/* Event cards */
.mpp-card--subtitle.event-date-range {
}
.mpp-card--subtitle.event-location {	
}
.mpp-card--description {
}


/*  Removes "Event Finder" Header and search bar  */
.mppw-form-wrapper {
    display: none;
}
